# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# System
.DS_Store

# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# IDE files
.vscode/
.idea/
*.iml
